@{
    ViewBag.Title = "About Us";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <p>
        Skill Craze revolutionizes the way you approach learning, offering a dynamic platform where knowledge knows no boundaries. With an extensive array of courses spanning diverse disciplines, from technology and business to art and wellness, Skill Craze empowers learners of all levels to pursue their passions and master new skills. Whether you're a seasoned professional looking to stay ahead of the curve or an eager beginner ready to explore uncharted territories, Skill Craze provides the tools and resources you need to thrive in today's ever-evolving world.

    </p>

    <p>

        At Skill Craze, we believe in the power of community and collaboration. Connect with like-minded individuals, share insights, and embark on collaborative projects that push the boundaries of learning. With personalized learning pathways, intuitive course navigation, and robust support systems, Skill Craze is more than just a course registration platform – it's a gateway to a brighter, more fulfilling future. Join us today and unlock your potential with Skill Craze!
    </p>
</main>

<style>
    body {
        background-image: url('../image/bg03.gif');
        background-repeat: no-repeat;
        background-size: 100% 125%;
    }
</style>