@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    @*<h3>@ViewBag.Message</h3>*@

    <address>
        Skill Craze<br />
        Chennai, Tamil Nadu<br />
        <abbr title="Phone">P:</abbr>
        8901234567
    </address>

    <address>
        <strong>Admin Gmail:</strong>   <a href="mailto:Support@example.com">admin@gmail.com</a><br />
        <strong>Gmail:</strong>   <a href="mailto:Support@example.com">Skillcraze@gmail.com</a><br />
        <strong>Instagram:</strong> <a href="mailto:Marketing@example.com">SkillCrazeee</a><br />
        <strong>Facebook:</strong> <a href="mailto:Marketing@example.com">SkillCrazeee</a>
    </address>
</main>

<style>
    body {
        background-image: url('../image/bg03.gif');
        background-repeat: no-repeat;
        background-size: 100% 125%;
    }
</style>