
@{
    ViewBag.Title = "PaidView";
}
<center>
    <h2>Paid View</h2>
    <img src="~/image/Paymentgif.gif" width="200" height="200" />
    <h3>Payment Sucessful !</h3>
    <h4>Thank you for your payment, we have received your payment.</h4>
    @Html.ActionLink("Back to Courses", "CourseView", "Course")
</center>

<style>
    body {
        background-image: url('../image/bg03.gif');
        background-repeat: no-repeat;
        background-size: 100% 125%;
    }
</style>